/* Sidebar nav */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 5px;
    margin: 5px;
    color: #666666;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    border-bottom: 2px solid transparent;
}

.sidebar li:hover {
    background-color: #2b2b2b;
}

.sidebar li:active {
    background-color: #3b3b3b;
}

.sidebar li.active {
    color: #f9c84a;
    font-weight: bold;
    background-color: #2b2b2b;
    border-bottom: 2px solid #f9c84a;
    transition: border-bottom 0.3s ease;
}

.sidebar li.active:hover {
    border-bottom: 4px solid #f9c84a;
}
